*{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: aqua;    
}
h2{
    color: darksalmon;
}
h3{
    
    color: wheat;
    
}
